ball{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    height: 100px;
    width: 100px;
    border-radius:50% ;
    border: 1px solid black;
    background: linear-gradient(blue,red);
    animation-name: bounce;
    animation-duration: 900ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
   

}
@keyframes bounce{
    0%{
       transform: translateY(0px);
    }
    100%{
        transform: translateY(80vh) rotate(360deg);
    }
}